.container {
  z-index: 100000;
  position: absolute;
  top: 0;
  left: 0;
  width: 201px;
  height: 275px;
  background-color: white;
  display: none;
  border: 1px solid grey;
  border-radius: 10px;
  box-shadow: 0 0px 6px 0px;

  h3 {
    font-size: 9px;
    margin: 0;
    font-weight: 500;
    color: #D6D6D6;
  }
}

.form {
  text-align: left;
  padding: 22px 25px;
  & > div, & > span {
    width: 100%;
  }
  input {
    width: 100%;
    margin-bottom: 20px;
    font-size: 9px !important;
    padding: 0 !important;
  }

  h3 {
    color: lightslategrey;
  }
}

.buttonContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 17px;

  a {
    font-weight: 500;
    font-size: 12px;
  }
}
