@import "../../constants/globalConstants";
.container {
  height: 100vh;
}

.logo {
  cursor: pointer;
  height: 70px;
  background: #3c3b53;
  box-shadow: 0px 2px 3px #0000000D;
  padding: 26px 0 0 20px;
}

.menu {
  @include flex(column, flex-start, flex-start, nowrap);
  @include list();
  height: calc(100vh - 70px);
  background-color: #43425D;
  .menuItem {
    @include flex(row, flex-start, center, nowrap);
    cursor: pointer;
    color: #fff;
    height: 53px;
    width: 100%;
    padding-left: 23px;

    img {
      margin-right: 11px;
    }

    &:hover, &.activeItem {
      background-color: #3c3b53;
      border-left: 5px solid #A3A0FB;
      padding-left: 18px;
    }
  }
}
