* {
  box-sizing: border-box;
}
html, body {
  margin: 0;
  padding: 0;
}

.rbc-calendar {
  height: 90% !important;
}

input.p-inputtext {
  border: none !important;
  border-bottom: 1px solid lightslategrey !important;
  border-radius: 0 !important;
}